.friends .friends__plus {
  padding: 20px 0px;
  margin: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friends .friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #52c279;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.5;
}

.friend__now-listening i {
  font-size: 12px;
  color: #52c279;
  padding-left: 2px;
}
/* 해당 클래스 하위에 있는 클래스가 없는 span에게 지정하기 위해 . 생략 */
/* 하나의 덩어리로 인식됨. 폰트 자체의 색상이나 아이콘의 크기를 바꿔주는 태그는 없음
따로 떼어내어 개별로 코딩해서 해야함. 아이콘의 크기는 font-size로
text의 색상은 마크업한 태그를 직접 수정해주며 color 등의 태그로 바꿔야함
또, 아이콘 등 모든 컨텐츠는 전부 box 형태 즉 사각형으로 인식함 */

.friend__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 왜 굳이 flex 지정? */
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
