/* 왜 .header는 인식 못하면서, 그냥 쓰는건 될까? */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header .header__title {
  font-size: 28px;
  font-weight: 600;
}

/* 오타남. hader 아이콘 */
header .hader__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  /* 클릭 가능한 곳에선 커서가 포인터로 바뀌어야 함을 의미 */
}

header .header__header-column {
  display: flex;
  align-items: center;
}

header .header__back-btn {
  font-size: 12px;
  margin-right: 20px;
}
